@import "../../_globalColor";

.skills-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  text-align: left;
  width: 100%;
}

.skills-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.skills-list li {
  margin-bottom: 0.5rem;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subTitle {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Image */
.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }

  .skills-main-div {
    flex-direction: column;
  }

  .skills-text-div {
    margin: 20px 0;
    text-align: center; // optional, remove if you want even mobile left aligned
  }

  .skills-text {
    font-size: 16px;
  }

  .skills-text-subtitle {
    font-size: 16px;
  }

  .skills-image-div {
    order: 2;
  }
}
