@import "../../_globalColor";

#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 15px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 1;

  svg {
    width: 35px;
    height: 35px;
    color: white;
    fill: white;
  }
}

#topButton:hover {
  background-color: $topButtonHover;
  transition: all ease-in-out 0.2s;
}
