.education-heading {
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 4rem 0;
  margin: 0px auto;
}

.education-section > * {
  flex: 1;
  margin-bottom: 0;
}

.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 0;
  }
  .education-heading {
    font-size: 40px;
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 0;
  }
  .education-heading {
    font-size: 30px;
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 16px;
  }
}
