@import "../../_globalColor";

.projects-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-heading {
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  text-align: left;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

/* Media Query */
@media (max-width: 1380px) {
  .projects-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 30px;
  }
}

