@import "../../_globalColor";

.section-divider {
  width: 800px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 4rem auto;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .section-divider {
    width: 300px;
    height: 4px;
  }
}
