@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.software-skill-inline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > svg {
  color: $subTitle;
  fill: currentColor;
}

.software-skill-inline > img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(1);
  opacity: 0.8;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}

/* Mobile Grid Layout */
@media (max-width: 768px) {
  .dev-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    justify-items: center;
    width: 100%;
  }

  .software-skill-inline {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }
}
