@import "../../_globalColor";

.social-media-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icon-button {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  min-width: 2.6rem;
  min-height: 2.6rem;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.2s ease-in;
  flex-shrink: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

.icon-button i {
  color: white;
  font-size: 1.3rem;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-button svg {
  color: white;
  fill: white;
  font-size: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: contain;
  filter: brightness(0) invert(1);
  z-index: 1;
  display: block;
  margin: auto;
}

.contact-text-div .social-media-div {
  margin-top: 2rem;
  justify-content: flex-start;
}

.contact-text-div .icon-button {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}

.contact-text-div .icon-button i {
  font-size: 2rem;
  line-height: 1;
}

.contact-text-div .icon-button svg {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.contact-text-div .icon-img {
  width: 2rem;
  height: 2rem;
}

.facebook {
  background-color: $faceBook;
}

.linkedin {
  background-color: $linkedin;
}

.github {
  background-color: $github;
}

.gitlab {
  background-color: $gitlab;
}

.google {
  background-color: $google;
}

.twitter {
  background-color: $twitter;
}

.medium {
  background-color: $medium;
}

.stack-overflow {
  background-color: $stackoverflow;
}

.kaggle {
  background-color: $kaggle;
}

.roblox {
  background-color: $roblox;
}

.discord {
  background-color: $discord;
}

.instagram {
  background-color: $instagram;
}

/* Hover Transition */
.twitter:hover,
.google:hover,
.gitlab:hover,
.github:hover,
.linkedin:hover,
.facebook:hover,
.instagram:hover,
.stack-overflow:hover,
.kaggle:hover,
.roblox:hover,
.discord:hover,
.medium:hover {
  background-color: $textColor;
  transform: translateY(-3px);
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    justify-content: center;
  }
}
